<div class="card">
    <div class="border-bottom ms-2">
        <h4>{{messagesThreadTitle()}}</h4>
        <h6 class="ms-3">{{userMail()}}</h6>
        <button class="btn btn-primary ms-3 mb-3" (click)="fileDownload()">Pobierz załączone CV</button>
    </div>
    <div #chatContainer class="card-body overflow-auto" style="max-height: 400px;"  (scroll)="onScroll()">
        <ul class="chat">
            @for (message of messageService.messageThread(); track message.id) {
                <li [ngClass]="{'text-start': message.senderMail === userMail(), 'text-end': message.senderMail !== userMail()}">
                    <div>
                        <div class="chat-body">
                            <div class="header">
                                <small class="text-muted">
                                    <span class="fa fa-clock-o">
                                        {{ calculateTimeAgo(message.messageSent) }}
                                    </span>
                                    @if (!message.dateRead && message.senderMail !== userMail()) {
                                        <span class="text-danger">(nieodczytana)</span>
                                    }
                                    @if (message.dateRead && message.senderMail !== userMail()) {
                                        <span class="text-success">(read {{ calculateTimeAgo(message.dateRead) }})</span>
                                    }
                                </small>
                            </div>
                            <p>{{message.content}}</p>
                        </div>
                    </div>
                </li>
            }            
        </ul>
    </div>
    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()">
            <div class="input-group">
                <input name="messageContent" required [(ngModel)] = "mesaggeContent" type="text" class="form-control input-sm rounded" placeholder="Wyślij wiadomość">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid" class="btn btn-primary ms-4" type="submit">Wyślij</button>
                </div>
            </div>
        </form>
    </div>
</div>